In [10]:
#Q1
mark=72
if mark>90:
    print("A")
elif mark>80 and mark<=90:
    print("B")
elif mark>=60 and mark<=80:
    print("C")
elif mark<60:
    print("D")
else :
    print("Failed")

C

In [5]:
#Q2
cost_price=72000
if cost_price>100000:
    print("15%")
elif cost_price>50000 and cost_price<=100000:
    print("10%")
elif cost_price<=50000:
    print("5%")
else :
    print("no tax")

10%

In [8]:
#Q3
year=2027
if year%4==0:
    print("leap year")
else:
    print("not leap year")

not leap year

In [16]:
#Q4
Day=6
if Day==1:
    print("Sunday")
elif Day==2:
    print("Monday")
elif Day==3:
    print("Tuesday")
elif Day==4:
    print("Wednesday")
elif Day==5:
    print("Thursday")
elif Day==6:
    print("Friday")
elif Day==7:
    print("Saturday")
else:
    print("Unidentified")

Friday

In [28]:
#Q5
month=10
days=31
if month==1 and days==31:
    print("January")
elif month==2 and days==28:
    print("February")
elif month==3 and days==31:
    print("March")
elif month==4 and days==30:
    print("April")
elif month==5 and days==31:
    print("May")
elif month==6 and days==30:
    print("June")
elif month==7 and days==30:
    print("July")
elif month==8 and days==31:
    print("August")
elif month==9 and days==30:
    print("September")
elif month==10 and days==31:
    print("October")
elif month==11 and days==30:
    print("November")
elif month==12 and days==31:
    print("December")
else:
    print("error 404")

October

In [39]:
city="Delhi"
if city=="Delhi":
    print("Red Fort")
elif city=="Agra":
    print("Taj Mahal")
else:
    print("Jal Mahal")

Red Fort

In [40]:
person1=23
person2=35
person3=15
person4=18
if max(person1, person2, person3, person4):
    print("oldest one")
else:
    print()
'''elif person2==max(person2):
    print("oldest one")
elif person3==max(person3):
    print("oldest one")
elif person4==max(person4):
    print("oldest one")'''

oldest one

'elif person2==max(person2):\n    print("oldest one")\nelif person3==max(person3):\n    print("oldest one")\nelif person4==max(person4):\n    print("oldest one")'